<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>좋아요 목록</title>
  <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>
<div class="like_wrap">
  <div class="main_nav">
    <img src="../static/img/blackLogo.jpeg" onclick="location.href='./index.html'" />
  </div>
  <div class="main_member">
    <button type="button" onclick="location.href='./login.html'">로그인</button>
    <div>
      <p onclick="location.href='./mypage.html'">마이페이지</p>
      <p id="likePage" onclick="location.href='./myLike.html'">좋아요</p>
      <p onclick="location.href='./cart.html'">장바구니</p>
      <p id="promotion">지금 회원가입 하시고 후신사를 즐겨보세용</p>
    </div>
  </div>
  <h3 class="like_item_title">🅾️ 구매 목록  🅾️</h3>
  <div class="like_box_wrap">
    <div class="item_box">
      <img src="../static/img/t3.jpg"/>
      <div>
        <p id="item_brand">브랜드명</p>
        <p id="item_name">상품명</p>
        <p id="item_price">상품가격</p>
      </div>
    </div>
  </div>

</div>
</div>
</body>
</html>