<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>후신사</title>
    <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>
    <div class="main_wrap">
        <div class="main_nav">
            <img src="../static/img/blackLogo.jpeg" />
        </div>
        <div class="main_member">
            <button type="button">로그인</button>
            <div>
                <p>마이페이지</p>
                <p id="likePage">좋아요</p>
                <p>장바구니</p>
                <p id="promotion">지금 회원가입 하시고 후신사를 즐겨보세용</p>
            </div>
        </div>
        <div class="category_item_wrap">
            <div class="category_wrap">
                <h3>카테고리</h3>
                <p onclick="showAllCategory();">전체</p>
                <p onclick="showShirt();">상의</p>
                <p onclick="showPant();">하의</p>
                <p onclick="showShoes();">신발</p>
            </div>
            <div class="item_wrap">

            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="../static/js/index.js"></script>
</body>
</html>