<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>상품 조회</title>
    <link rel="stylesheet" href="../static/css/itemDetail.css">
</head>
<body>
    <div class="detail_wrap">
        <div class="main_nav">
            <img src="../static/img/blackLogo.jpeg" onclick="location.href='./index.html'" />
        </div>
        <div class="main_member">
            <button type="button" onclick="location.href='./login.html'">로그인</button>
            <div>
                <p onclick="location.href='./mypage.html'">마이페이지</p>
                <p id="likePage" onclick="location.href='./myLike.html'">좋아요</p>
                <p onclick="location.href='./cart.html'">장바구니</p>
                <p id="promotion">지금 회원가입 하시고 후신사를 즐겨보세용</p>
            </div>
        </div>
        <div class="itemDetail_wrap">
            <h3>상품 조회</h3>
            <div>
                <img id="itemImg"/>
                <div class="item_box">
                    <div class="item_info">
                        <div class="product_info">
                            <h3>Product Info</h3>
                            <p>제품정보</p>
                        </div>
                        <div class="brand_name">
                            <p>브랜드</p>
                            <p id="brandName"></p>
                        </div>
                        <div class="item_name">
                            <p>이름</p>
                            <p id="itemName"></p>
                        </div>
                    </div>
                    <div id="division"></div>
                    <div>
                        <div class="item_price">
                            <h3>Price Info</h3>
                            <p>가격정보</p>
                        </div>
                        <div class="sale_price">
                            <p>판매가</p>
                            <p id="salePrice"></p>
                        </div>
                    </div>
                    <div class="sale_bt">
                        <button type="button" class="saleBt" onclick="buyItem(id);">바로구매</button>
                        <div>
                            <div class="heart_icon_wrap" onclick="likeItem(id);">
                                <img src="../static/img/heart.png"/>
                            </div>
                            <div class="cart_icon_wrap"onclick="likeItem(id);">
                                <img src="../static/img/cart.png"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="../static/js/itemDetail.js"></script>
</body>
</html>