<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/mypage.css">
</head>
<body>
<div class="profile_wrap">
    <div class="profile_box">
        <div class="profile">
            <div class="profile-photo">
                <img src="../static/img/bear.png" alt="곰돌이 얼굴 이미지">
            </div>
            <img src="../static/img/face.png" id="hwFace" alt="프로필 사진">
        </div>
        <div class="imgBt">
            <input type="file" id="fileInput" accept="image/*" style="display: none;">
            <button type="button" onclick="openFilePicker()">프로필 사진 수정</button>
        </div>
        <div class="user-info">
            <h2>사용자 이름</h2>
            <p>사용자 아이디</p>
        </div>
        <div class="move_pages">
            <button type="button" onclick="location.href='./buyComplete.html'">구매 목록</button>
            <button type="button" onclick="location.href='./myLike.html'">좋아요 목록</button>
        </div>
    </div>
</div>
<script>
    function openFilePicker() {
        var fileInput = document.getElementById('fileInput');
        fileInput.click();
    }

    function handleFileSelect(event) {
        var file = event.target.files[0];
        var reader = new FileReader();

        reader.onload = function (e) {
            var image = document.getElementById('hwFace');
            image.src = e.target.result;
        };

        reader.readAsDataURL(file);
    }

    var fileInput = document.getElementById('fileInput');
    fileInput.addEventListener('change', handleFileSelect);
</script>
</body>
</html>
