<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
    <link rel="stylesheet" href="../static/css/index.css" >
    <link rel="stylesheet" href="../static/css/login.css" >
</head>
<body>
<div class="login_wrap">
    <div class="signup_box">
        <img src="../static/img/whiteLogo.jpeg" onclick="location.href='./index.html'"/>
        <div>
            <h2>회원가입</h2>
            <div id="division"></div>
            <input id="idInput" type="text" placeholder="아이디" />
            <input id="pwInput" type="password" placeholder="비밀번호" />
            <input id="nameInput" type="text" placeholder="이름" />
            <button type="button">회원가입</button>
            <p onclick="location.href='./login.html'">로그인 하러 가기</p>
        </div>
    </div>
</div>
</body>
</html>